[Unit]
Description=micro-httpd
Documentation=man:micro-httpd(8)

[Service]
User=www-data
Group=www-data
ExecStart=-/usr/sbin/micro-httpd /var/www/html
StandardInput=socket
StandardError=journal
